<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1485030056468-3820ff9e6e90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1490&q=80);">
  <div class="container">
    <h1>Cocktails</h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.atelier-cocktail.com/timthumb.php?src=https://www.atelier-cocktail.com/uploads/cocktail/20150129133633674045.jpg&w=195&h=216)">
          <i class="fa fa-glass"></i>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      <% end %>
    </div>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
  </button>
  </div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a cocktail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <span class = "btn btn-info"><%= f.button :submit %></span>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This cocktail mocksite is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>

